.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #ffffff;
	padding: 0 16px;
	height: 48px;
	line-height: 48px;

	.out-line {
		font-size: 18px;
		cursor: pointer;
	}

	.right {
		display: flex;
		align-items: center;

		:deep(.ant-space-item) {
			cursor: pointer;
			&:hover {
				background: #c1151506;
			}
		}
	}
}
